@charset "UTF-8";

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}
html {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow: hidden;
    text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-family: "pingfang sc", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: "Inconsolata", "Consolas", "Monaco", monospace;
    line-height: 1.25;
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429;
}

a {
    color: #00d1b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}

a:hover {
    color: #363636;
}


#download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#download_progress {
  background-color: #efefef;
  overflow: hidden;
  height: 32px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 10px;
}
.download_container {
  padding: 10px;
}
.dprogress_bar {
  float: left;
  width: 0;
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  height: 100%;
  background-color: #4285F4;
  transition: width .6s ease;
}

.download_detail{
  text-align: right;
}


.btn_group {
  display: flex;
}
.btn_group button {
  flex-basis: 50%;
  height: 50px;
  flex-group: 1;
  -webkit-appearance: normal;
  appearance: normal;
  font-size: 14px;
  outline: none;
  border: 0;
  background-color: #D8D8D8;
  cursor: pointer;
}
.btn_group .pause_btn {
  background-color: #4285F4;
  color: #fff;
}