.content {
  color: #4a4a4a;
}

.content:not(:last-child) {
  margin-bottom: 20px;
}

.content a:not(.button) {
  border-bottom: 1px solid #dbdbdb;
}

.content a:not(.button):visited {
  color: #b86bff;
}

.content a:not(.button):hover {
  border-bottom-color: #00d1b2;
}

.content li + li {
  margin-top: 0.25em;
}

.content blockquote:not(:last-child),
.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 300;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child) {
  margin-top: 40px;
}

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.5em;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  font-size: 1.75em;
}

.content h3 {
  font-size: 1.5em;
}

.content h4 {
  font-size: 1.25em;
}

.content h5 {
  font-size: 1.125em;
}

.content h6 {
  font-size: 1em;
}

.content ol {
  list-style: decimal outside;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
}
